.lead {
  height: 1005px;
  width: 984px;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    width: 928px;
    height: 962px;
    padding-top: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    width: 768px;
    height: 862px;
    padding-top: 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead {
    width: 320px;
    height: 406px;
    padding-top: 48px;
  }
}