.lead__caption {
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-style:  normal;
    font-weight: 400;
    color: #fff;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: flex-start;
    padding-top: 8px;
    margin: 0;
  }


